/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #bfbfc1;
$gray:              #808082;
$meta-gray:         #ccc;
$text-color:        lighten($black, 40%);

$blue:				#0054a3;
$light-blue:		#00a6db;
$yellow:			#f7c400;
$green:				#0b6b4e;
$pale-green:		#bad3ca;
$red:				#cc1a26;
$alt-red:			#972422;
$dark-red:			#5e0000;
$orange:			#fed940;
$dark-orange:		#f27c35;

$link-color:        $blue;
$link-hover:        $gray;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
