/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 76%;
}

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#container {
	overflow: hidden;
	font-size: 50%;
}

img {
	height: auto;
	pointer-events: none;
	
	&.size-full {
		max-width: 100%;
	}
	
	&.alignleft {
		float: left;
	}
	
	&.alignright {
		float: right;
	}
}

.featured-image {
	position: relative;
	font-size: 0;
	
	&.blue, &.white, &.red, &.orange, &.alt-blue {
		&:after {
			content: '';
			position: absolute;
			width: 101%;
			width: calc(100% + 2px);
			height: 100%;
			left: -1px;
			bottom: -1px;
			@include prefix(background-size, 101% !important, webkit moz ms o);
		}
	}
	
	&.blue {
		&:after {
			background: url(../images/blue-wave.svg) no-repeat bottom center;
		}
	}
	
	&.white {
		&:after {
			background: url(../images/white-wave.svg) no-repeat bottom center;
		}
	}
	
	&.red {
		&:after {
			background: url(../images/red-wave.svg) no-repeat bottom center;
		}
	}
	
	&.orange {
		&:after {
			background: url(../images/orange-wave.svg) no-repeat bottom center;
		}
	}
	
	&.alt-blue {
		&:after {
			background: url(../images/alt-blue-wave.svg) no-repeat bottom center;
		}
	}
}

.main-content {
	position: relative;
	
	.entry-content {
		padding-right: 10%;
		padding-top: 10px;
		
		h3 {
			font-size: 2em;
			margin: 0 0 1.5em;
		}
	}
	
	h1 {
		font-weight: 700;
		color: $blue;
		margin-top: 0;
	}
	
	&.red {
		background: $alt-red;
//		background: $dark-red url(../images/red-grad.svg) repeat top left;
//		@include prefix(background-size, 101% !important, webkit moz ms o);
		
		
		* {
			color: $white;
		}
	}
	
	&.orange {
		background: $dark-orange;
		background: $orange url(../images/orange-grad.svg) repeat top left;
		@include prefix(background-size, 101% !important, webkit moz ms o);
		
		
		* {
			color: $white;
		}
	}
	
	&.alt-blue {
		background: $blue;
		
		
		* {
			color: $white;
		}
	}
}

.content-wrapper {
	position: relative;
}

#packs_slider {
	padding: 1em 3em;
	
	.owl-item {
		.sa_hover_container {
			display: inline-block;
			display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
			display: -ms-flexbox;  /* TWEENER - IE 10 */
			display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
			display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
			@include prefix(flex-direction, column, webkit ms);
			@include prefix(flex-wrap, nowrap, webkit ms);
			@include prefix(justify-content, center, webkit ms);
			@include prefix(align-items, center, webkit ms);
			
			.col-6 {
				float: none;
				-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
				@include prefix(flex, 1, webkit ms);
			}
		}
	}
	
	h2 {
		font-weight: 700;
		color: $blue;
	}
	
	p {
		font-size: 1.65rem;
		padding: 0;
	}
	
	a {
		@extend .white-btn;
	}
	
	.owl-dots {
		left: 0;
		bottom: -30px !important;
		
		.owl-dot {
			outline: none;
			
			span {
				width: 17px !important;
				height: 17px !important;
				border: 3px solid $gray !important;
				background-color: $white !important;
			}
			
			&.active {
				span {
					background-color: $gray !important;
				}
			}
		}
	}
	
	.owl-nav {
		.owl-prev {
			background: url('../images/icon-prev.png') no-repeat center center !important;
			@include prefix(background-size, 70% !important, webkit moz ms o);
			left: 0;
		}
		
		.owl-next {
			background: url('../images/icon-next.png') no-repeat center center !important;
			@include prefix(background-size, 70% !important, webkit moz ms o);
			right: 0;
		}
		
		button {
			height: 60px !important;
			width: 70px !important;
			outline: none;
			
			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.grad-row {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-direction, row, webkit ms);
	@include prefix(flex-wrap, wrap, webkit ms);
	@include prefix(justify-content, center, webkit ms);
	@include prefix(align-items, stretch, webkit ms);

	.grad-panel {
		display: inline-block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
		@include prefix(flex, 1, webkit ms);
		@include prefix(flex-direction, column, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		@include prefix(align-items, center, webkit ms);
		padding: 5em 4em;
		float: none;
		
		&.red {
			background: $alt-red;
//			@include horizontal-gradient($dark-red, $red);
		}
		
		&.orange {
//			@include horizontal-gradient($dark-orange, $orange);
		}
		
		&.blue {
			background: $blue;
		}
		
		*:not(a) {
			color: $white;
		}
		
		p {
			font-size: 1.65em;
    		padding: 0 10%;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.row {
	margin-top: 3.5em !important;
	margin-bottom: 3em !important;
	
	.col-6 {
		padding: 10px 5em;
		
		.title {
			background: transparent url(../images/blue-btn.png) no-repeat center center;
			background-size: contain;
			color: $white;
			text-align: center;
			display: inline-block;
			min-width: 8.5em;
			font-size: 2.25rem;
			padding: 10px 0;
			margin-bottom: 2rem;
		}
		
		ul {
			margin: 0 0 2rem;
			
			li {
				font-weight: 700;
				color: darken($gray, 20%);
				font-style: italic;
				font-size: 1.5rem;
				margin: 5px 0;
				line-height: 1.2;
				position: relative;
				
				&:before {
					content: '';
					background: url(../images/tick.png) no-repeat center center;
					width: 20px;
					height: 20px;
					display: inline-block;
					background-size: contain;
				}
			}
		}
		
		h3 {
			font-size: 1.5rem;
			color: $blue;
		}
		
		hr {
			width: 50%;
			border: none;
			height: 2px;
			background: $blue;
			margin: 2rem 0;
		}
		
		p {
			width: 90%;
			font-size: 1.1rem;
			color: lighten($text-color, 15%);
			line-height: 1.5;
			
			&.disclaimer {
				font-size: 0.85rem;
			}
		}
	}
}

.retailers {
	&.wrap {
		margin: 4rem auto;
	}
	
	.col-6 {
		padding: 3rem;
	}
	
	h3 {
		color: $blue;
		font-size: 2em;
		
		a {
			color: $blue;
			
			&:hover, &:focus {
				color: $gray;
			}
		}
	}
}

/********************
WORDPRESS BODY CLASSES
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */

.blog {
	.entry-title {
		line-height: 1;
		font-size: 1rem;
		height: 2rem;
		margin-top: 0.5em;
		
		a {
			color: lighten($black, 20%);
			font-size: 1.3rem;
			
			&:hover, &:focus {
				color: lighten($black, 40%);
			}
		}
	}
	
	.posts-main {
		.col-4 {
			padding: 1.5rem;
		}
		
		p {
			margin: 0;
    		font-size: 0.9rem;
			height: 2.5rem;
		}

		img {
			max-width: 100%;
		}
	}
	
	.image-thumb {
		display: block;
	}
}

.archive {
	@extend .blog;
}

.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */

.single {
	.wrap.post {
		max-width: 95%;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5, P STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	line-height: 1.2;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3.75em;
    line-height: 1;
}

h2, .h2 {
	font-size: 2.8em;
	margin: 0.35rem 0 1rem;
	color: lighten($black, 20%);
}

h3, .h3 {
	font-size: 2.65em;
	margin: 0 0 1rem;
}

h4, .h4 {
	font-size: 1.3em;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0.25em 0;
}

h5, .h5 {
	font-size: 1.2em;
	color: lighten($black, 20%);
}

p {
	line-height: 1.3;
	font-size: 1.15em;
	margin: 0.85rem 0 1.2rem;
}

.nowrap {
	white-space: nowrap;
	color: inherit;
	font-weight: inherit;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	background-color: $white;
}

#logo {
	position: absolute;
	top: 0;
	left: 3rem;
	z-index: 999;
	display: block;
	width: 9rem;
	margin: 0;
	float: left;
	font-size: 0;
	
	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $black;
	}
}

#inner-header {
	&.active {
		nav {
			max-height: 400px;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	color: $blue;
    float: right;
    margin: 1.2rem 3rem 1.1rem;
	padding: 0;
    border: none;
	outline: none;
    border-radius: 0;
    line-height: 1;
    font-size: 2.4rem;
    width: 30px;
    height: 30px;
	background-image: url(../images/menu.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 60px;
	background-color: transparent;
	@include transition(background-position 0.3s ease-in-out);
	
	.active & {
		background-position: right center;
	}
}

nav {
	overflow: hidden;
	max-height: 0px;
	width: 100%;
	@include transition(max-height 0.3s ease-in-out);
	
	li {
		a, a:visited {
			font-size: 1.2rem;
			font-weight: 700;
			line-height: 1;
			text-decoration: none;
			color: $blue;
		}
		
		&.current-menu-item,
		&.current_page_item,
		&.current_page_ancestor {
			> a {
				color: $gray;
			}
		}
	}
}

.nav {
	margin: 3em 3em 2em;
    text-align: center;

	li {
		list-style: none;

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;
		}

		ul.sub-menu,
		ul.children {
			margin: 0;
			z-index: 10;

			li {

				a {
					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

}

.socket-nav {
	background: $light-gray;
	width: 100%;
	margin: 0;
	padding: .5rem 0;
	
	li {
		float: right;
		margin-right: 3rem;
		
		a {
			color: $white;
			text-decoration: none;
			font-size: 1.2rem;
			font-weight: 700;
			
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
}

.hentry {

	header {
		padding: .5rem 2rem 0;
	}

	footer {
		padding: 1.5em;

		p {
			margin: 0;
		}
	}

} /* end .hentry */

.single-title,
.entry-title {
	margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* style individual post classes */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */

.page {
	img {
		max-width: 100%;
	}
}

.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: lighten($black, 20%);
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	padding: 4em 5em 4em;

	h2 {
		font-size: 2.25em;
		margin: 1rem 3rem;
	}

	p {
		margin: 0 0 1.5em;
		font-size: 1.85em;
		
		b, strong {
			font-size: 1.8rem;
		}
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
	color: $black;
	
	a {
		color: lighten($black, 40%);
		text-decoration: none;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
		
		&:last-child {
			border: none;
		}
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $green;

      &:hover, &:focus {
      	background-color: $green;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $white;
		background-color: $green;
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0 0.5rem;
	margin: 1.5rem 0 0;
	line-height: 1.3;
	border-bottom: 1px solid $pale-green;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5rem 10px;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: lighten($black, 40%);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 10px;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 15px 0 15px 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		
	}
	&.even {
		
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




/* comment meta */
.comment-meta {

	a {}

}

.commentmetadata {

	a {}

}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
a.comment-reply-link {
	@extend .green-btn;
	font-size: 0.9rem;
	float: right;
	padding: 0.3rem 0;
	min-width: 5rem;

	&:hover,
	&:focus {
	}

} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5rem 0;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .green-btn;
		float: right;
		font-size: 0.9rem;
		padding: 0.3rem 0;
		min-width: 8rem;
		margin-right: 0;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.pre-footer {
	background: #e5e5e5;
	padding: 3em 3em 2.5em;
	
	p {
		font-size: 0.85rem;
		margin: 0 0 1em;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer {
	clear: both;
	
	#inner-footer {
		padding: 0 3rem 3rem;
		background: $blue;
	}
	
	&.blue-wave {
		background: rgb(229, 229, 229);
		font-size: 0;
	}
	
	.wave, .wave img {
		display: block;
		font-size: 0;
		margin: 0;
		padding: 0;
		position: relative;
		left: 0; top: 0;
	}
	
	.wave {
		@include prefix(background-size, 100% !important, webkit moz ms o);
		
		&.white {
			background: url(../images/footer-wave-white.png) no-repeat left bottom;
		}
		
		&.gray {
			background: url(../images/footer-wave-gray.png) no-repeat left bottom;
		}
		
		img {
			visibility: hidden;
		}
	}
}

.footer-links {
	ul {
		text-align: left;
		border: none;
		margin: 0 0 1rem 0;

		li {
			display: block;
			border: none;
			
			a {
				text-transform: none;
				padding: 0;
				margin: 0;
				font-size: 1.2rem;
				font-weight: 700;
				text-decoration: none;
				border: none;
				color: $white;
				
				&:hover, &:active {
					color: $white;
					text-decoration: underline;
				}
			}
		}

	}

} /* end .footer-links */

.logo-footer {
	display: block;
	max-width: 140px;
	margin-bottom: 20px;
}

.copyright {
	clear: both;
	font-size: 0.85rem;
	line-height: 1;
	color: $white;
}
